@import "../../styles/partials/typography";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";


.hero {
    background-color: $secondary-colordblack;
    // padding: 20px;

    @include tablet {
      padding: 0 2.5rem;
    }

    @include desktop {
      padding: 0 12rem;
    }
  }
  
  .hero__player {
    width:100%;
  }
