@font-face {
    font-family: "Avenir Regular";
    src: url(../../assets/Font/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: "Avenir Demi Bold";
    src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
}

