// Media Query
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

// colors
$primary-colorblack: #323232;
$primary-colorblue: #0095FF;
$primary-colorsilver:#AFAFAF;
$primary-colorwhite:#FFFFFF;

$secondary-colordblack:#000000;
$secondary-colordblue: #0065AD;
$secondary-colormercury:#E1E1E1;
$secondary-coloralabaster:#FAFAFA;
