@import "../../styles/partials/typography";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  @include desktop {
    padding: 1rem 8rem;

  }

  &__image {
    justify-content: center;
    width: 100%;
    display: flex;
    .header__logo {
      height: 30px;
      margin-bottom: 8px;
    }
  }

  &__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    width: auto;
  }

    .header__form {
    width: 100%;
    display: flex;

      .header__search {
        width: 80%;
        height: 25px;
        margin-bottom: 8px;
        background-image: url("../../assets/Icons/search.svg");
        background-repeat: no-repeat;
        padding-left: 2rem;

        @include tablet {
          min-width: 200px;
        }
      }
    }

    .header__profile-picture {
      width: 50px;
      height: 50px;
      border-radius: 100%;

      @include tablet {
        display: none;
      }
    }
  }

  &__upload {
    display: flex;
    justify-content: center;
    width: 100%;

    .header__profile-picture-tab {    
      display: none;

      @include tablet {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
      }

      @include tablet {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
      }

    }

    .header__button {
      font-family: "Avenir Bold";
      background-color: $primary-colorblue;
      border: none;
      border-radius: 5px;
      color: $primary-colorwhite;
      height: 100%;
      width: 70%;
      margin-right: 20px;
      font-size: 1.2rem;
      height: 80%;
    }
  }
}